# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
.vscode/launch.json

# dependencies
*/node_modules
node_modules
/.pnp
.pnp.js


# testing
/coverage
**/test-results/
**/playwright-report/
**/playwright/.cache/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
tests/geckodriver.log
geckodriver.log

**/venv/
**/.venv/
**/__pycache__
client/build
api/build
**/megalinter-reports/
**/.mypy_cache/
**/.ruff_cache/
*.venv/
tiling/spectrogram.pmtiles

**/infra/*.json
!**/infra/iqengine.json
**/test-results/
**/playwright-report/
**/playwright/.cache/

# in case someone by mistake do npm i in the root do not check in package-lock.json
/package-lock.json

# ignore parsed files in sdriq2sigmf
**/sdriq2sigmf/**/*.sigmf*

e2e/test.zip
python-env
api/converters/vita49_to_sigmf/tests/custom_ofdm_out0x0.sigmf-meta
api/converters/vita49_to_sigmf/tests/custom_ofdm_out0x0.sigmf-data
.pytest-pymongo/download/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/archive
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/LICENSE-Community.txt
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/MPL-2
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/README
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/THIRD-PARTY-NOTICES
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/bin/Install-Compass.ps1
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/bin/mongod.exe
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/bin/mongod.pdb
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/bin/mongos.exe
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/bin/mongos.pdb
.pytest-pymongo/extract/40672fae04df14c734d12e588193e20f813c9689871f6e46eb97888045ca59c0/mongodb-win32-x86_64-windows-7.0.2/bin/vc_redist.x64.exe
